<link rel="stylesheet" href="/stylesheets/views/calculator.css">

<div class="main text-center">
    <div class="space-normal"></div>
    <h2>Calculator</h2>
    <div class="showAns">
        <input type="text" class="form-control input-xs" readonly id="inputValue">
        <input type="text" class="form-control input-lg" readonly id="outputValue">
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-default" style="background-color: #D1CEC9">AC</button>
        <button type="button" class="btn btn-default" style="background-color: #D1CEC9">%</button>
        <button type="button" class="btn btn-default" style="background-color: #D1CEC9">CE</button>
        <button type="button" class="btn btn-default" style="background-color: #EB6B5E">/</button>
        <button type="button" class="btn btn-default" >7</button>
        <button type="button" class="btn btn-default">8</button>
        <button type="button" class="btn btn-default">9</button>
        <button type="button" class="btn btn-default" style="background-color: #EB6B5E">*</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default" style="background-color: #EB6B5E">-</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default" style="background-color: #EB6B5E">+</button>
        <button type="button" class="btn btn-default">0</button>
        <button type="button" class="btn btn-default">.</button>
        <button type="button" class="btn btn-default">+/-</button>
        <button type="button" class="btn btn-default" style="background-color: #EB6B5E">=</button>
    </div>
</div>

<script src="/javascripts/views/calculator.js" type="text/javascript"></script>