<link rel="stylesheet" href="/stylesheets/views/wishing_wall.css">
<!--与bootstrap的css文件冲突，注释掉layout里面bootstrap的css即可-->

<div id="content">
</div>

<script src="/javascripts/views/wishing_wall.js" type="text/javascript"></script>

